.event-bar-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  font-size: 2em;
  font-weight: 600;
  color: var(--text-color-black);
}

.logo {
  width: 1em;
  height: 1em;
  margin-right: 8px;
}

.event-container {
  height: 850px;
  padding: 0 30px;
}

.event {
  max-width: 240px;
  height: 50px;
  padding: 5px;
  margin-bottom: 20px;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  line-height: 1.5em;
  font-size: 1.5em;
  font-weight: 500;
  color: var(--text-color-black);
  transition: 0.5s;
  cursor: pointer;
}

.event:hover {
  color: var(--text-color-white);
  background-color: var(--theme-color-blue);
  border-color: var(--theme-color-blue);
  transition: 0.5s;
}

.over-hide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
