.task-box-header {
  display: flex;
  align-items: center;
  padding: 0 50px;
  margin-top: 22px;
}

.task-box-title {
  padding: 25px 0;
  font-size: 2em;
  font-weight: 600;
}

.remove-button {
  padding: 10px 10px;
  margin-left: 35px;
  border: 2px dashed var(--theme-color-red);
  border-radius: 10px;
  font-size: 1.1em;
  color: var(--text-color-muted);
  background: none;
  cursor: pointer;
  transition: 0.5s;
}

.remove-button:hover {
  color: var(--text-color-white);
  background-color: var(--theme-color-red);
  border-color: var(--theme-color-red);
  transition: 0.5s;
}
