@import "./assets/stylesheets/reset.css";
@import "./assets/stylesheets/vars.css";

.App {
  display: flex;
}

.event-bar {
  flex-shrink: 0;
  width: 300px;
  height: 100vh;
  border-right: 2px solid var(--border-color);
}

.task-box {
  flex-grow: 1;
  min-width: 900px;
}
