:root {
  --theme-color-blue: #0081fa;
  --theme-color-green: #00d09c;
  --theme-color-red: #ff585d;
  --theme-color-yellow: #ffb61b;
  --bg-color-grey: #edeff3;
  --bg-color-white: #ffffff;
  --text-color-black: #1c2b33;
  --text-color-white: #ffffff;
  --text-color-muted: #9c9c9c;
  --border-color: #ededed;
  --border-radius: 10px;
  --event-bar-bg: #e5e8ed;
  --add-event-button-bg: var(--theme-color-green);
  --add-event-button-hover-bg: #73dcc5;
  --event-button-default-bg: #d9dce0;
  --event-button-selected-bg: var(--theme-color-blue);
  --event-button-hover-bg: #77b8f7;
  --task-box-bg: #edeff3;
  --task-column-bg: #ffffff;
  --task-column-title-bg: #f6f7f9;
  --add-task-button-bg: var(--theme-color-green);
  --add-task-button-hover-bg: #73dcc5;
  --task-border-color: #ccc;
  --task-bg: #fff;
  --task-hover-bg: rgba(0, 119, 256, 0.014);
  --remove-bar-color: #888;
  --remove-bar-hover-color: var(--theme-color-red);
}
